.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureItem {
  padding: 1rem;
  height: 20rem;
  border: 1px solid var(--ifm-toc-border-color);
  border-radius: 4px;
  margin: .4rem 0;
}

.contentCls {
  height: calc(100% - 41px);
  overflow-y: auto;
  font-size: 15px;
}

.contentItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
